@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  position: relative;
  font-weight: 600;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Gilroy";
  font-weight: 400;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
