<div class="container">
    <div id="buy" class="text-block">
        <div id="belarus">
            <h2 class="title">Беларусь</h2>
            <app-text-divider></app-text-divider>

            <h3>АПТЕКА НА ЗЫБИЦКОЙ</h3>
            <p>
                Сервисный центр № 307<br>
                Nature’s Sunshine Products <br>
                Адрес: г. Минск ул. Зыбицкая, 9/33<br>
                Телефоны: +375 17 2891250 (городской)<br>
                Время работы: пн.-пт.: 10:00-20:00; сб.: 10:00-18:00<br>
            </p>


            <h3>МАГАЗИН НА УЛ. КОМСОМОЛЬСКАЯ</h3>
            <p>
                Сервисный центр № 290<br>
                Nature’s Sunshine Products <br>
                Адрес: г. Минск ул. Комсомольская, д. 16, комната 211, 2 этаж <br>
                Телефоны:  +375 44 5630883 (А1); +375 29 5648156 (МТС); +375 17 3996415 (городской)<br>
                Время работы: пн.-пт.: 09:00-19:00; сб-вс.: 10:00-18:00<br>
            </p>

            <h3>МАГАЗИН НА УЛ. КРАСНОАРМЕЙСКОЙ</h3>
            <p>
                Сервисный центр № 94<br>
                Nature’s Sunshine Products <br>
                Адрес: г. Минск ул. Красноармейская, д. 3 (Центральный дом офицеров)<br>
                Телефоны: +375 44 789-12-50 (А1); +375 29 831-30-71 (МТС)<br>
                Время работы: пн.-пт.: 10:00-19:00; сб.: 10:00-16:00<br>
            </p>
        </div>
        
        <div id="russia">
            <h2 class="title">Россия</h2>
            <app-text-divider></app-text-divider>
            <p> Скоро добавится </p>
        </div>

        <div id="ukraine">
            <h2 class="title">Украина</h2>
            <app-text-divider></app-text-divider>
            <p> Скоро добавится </p>
        </div>
    </div>
</div>
