@import '../../styles/main.scss';

#belarus,
#russia,
#ukraine{
    height: auto;
    padding-top: 2em;
}

.title{
    text-transform: uppercase;
    font-weight: normal;
    color: $main-color;
    font-size: 2em;
    margin: 0.5em 0;
}