$text-color: rgba($color: #fff, $alpha: 0.67);

footer{
  width: 100%;
  display: grid;
  padding: 1em 0;
  grid-template-columns: [left-gutter] 1fr [content] 9fr [links] 1fr [right-gutter] 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 2rem;
  color: $text-color;
  .footer-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
    grid-column: content / links;
    font-size: 12px;
    p{
        margin: 0;
        a{
            color: $text-color;
        }
    }
    .divider{
        width: 500px;
        height: 0;
        border-top: 1px solid rgba(163, 163, 163, 0.5);
    }
    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
  }
  .links{
    grid-column: links / right-gutter;
    :not(:last-child){
      padding-right: 0.5em;
    }
  }
}