<footer>
    <div class="footer-text">
        <span class="white">Сайт дистрибьютора компании Nature’s Sunshine Products (NSP)</span>
        <span class="white">
            Электронная почта:
            <a class="white" href="mailto:fil3120025@gmail.com">
                fil3120025@gmail.com
            </a>
        </span>
    </div>

    <!-- TODO: change links -->
    <div class="links">
        <a href="https://www.facebook.com/">
            <fa-icon [icon]="faFacebookSquare" [styles]="{'stroke': '#fff', 'color': '#fff'}"></fa-icon>
        </a>
        <a href="https://vk.com/">
            <fa-icon [icon]="faVk" [styles]="{'stroke': '#fff', 'color': '#fff'}"></fa-icon>
        </a>
        <a href="https://ok.ru/">
            <fa-icon [icon]="faOdnoklassnikiSquare" [styles]="{'stroke': '#fff', 'color': '#fff'}"></fa-icon>
        </a>
        <a href="https://www.viber.com/">
            <fa-icon [icon]="faViber" [styles]="{'stroke': '#fff', 'color': '#fff'}"></fa-icon>
        </a>
    </div>
</footer>
