<footer>
    <div class="footer-text">
        <div>
            <p>Сайт дистрибьютора компании Nature’s Sunshine Products (NSP)</p>
            <p>
                Электронная почта:
                <a href="mailto:worldnsp.as@gmail.com">
                    worldnsp.as@gmail.com
                </a>
            </p>
        </div>

        <div class="divider"></div>

        <ul class="nav-links">
            <li *ngFor="let item of menu">
                <a (click)="navigate(item.value)">{{item.title}}</a>
            </li>
        </ul>

    </div>

    <!-- TODO: change links -->
    <div class="links">
        <a href="https://www.facebook.com/">
            <fa-icon [icon]="faFacebookSquare" [styles]="{'stroke': '#fff', 'color': '#fff'}"></fa-icon>
        </a>
        <a href="https://vk.com/">
            <fa-icon [icon]="faVk" [styles]="{'stroke': '#fff', 'color': '#fff'}"></fa-icon>
        </a>
        <a href="https://ok.ru/">
            <fa-icon [icon]="faOdnoklassnikiSquare" [styles]="{'stroke': '#fff', 'color': '#fff'}"></fa-icon>
        </a>
        <a href="https://www.viber.com/">
            <fa-icon [icon]="faViber" [styles]="{'stroke': '#fff', 'color': '#fff'}"></fa-icon>
        </a>
    </div>
</footer>
