header{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    height: 5em;
    margin: 0 1em;
}

@media only screen and (max-width: 1000px){
    header{
        justify-content: start;
    }
}