<div id="container">
    <h2 class="title">Сертификаты</h2>
    <app-text-divider></app-text-divider>
    <div class="certificates">
        <div class="image1">
            <img src="../../../assets/sertificates/sert1.jpg" alt="Сертификат">
        </div>
        <div class="image2">
            <img src="../../../assets/sertificates/sert2.jpg" alt="Сертификат">
        </div>
        <div class="image3">
            <img src="../../../assets/sertificates/sert3.jpg" alt="Сертификат">
        </div>

        <div class="image4">
            <img src="../../../assets/sertificates/sert4.jpg" alt="Сертификат">
        </div>
        <div class="image5">
            <img src="../../../assets/sertificates/sert5.jpg" alt="Сертификат">
        </div>
        <div class="image6">
            <img src="../../../assets/sertificates/sert6.jpg" alt="Сертификат">
        </div>

        <div class="image7">
            <img src="../../../assets/sertificates/sert7.jpg" alt="Сертификат">
        </div>
        <div class="image8">
            <img src="../../../assets/sertificates/sert8.jpg" alt="Сертификат">
        </div>
        <div class="image9">
            <img src="../../../assets/sertificates/sert9.jpg" alt="Сертификат">
        </div>
    </div>
</div>