<div id="partnership" class="container">
    <div class="text-block">
        <h2 class="title">Партнерское соглашение</h2>
        <app-text-divider></app-text-divider>
        <p>  NSP - это сетевая компания.
            Как и в любой сетевой компании основное услови для приобретения продукции - это иметь свой 
            <span class="main-color">номер</span> ,
            который вы получаете заполнив бесплатно партнерское соглашение.
            Соглашение вами заполняется через интернет.
            Вся процедура заполнения и получения бесплатна.
            Ваши данные при регистрации не будут показаны третьим лицам.
            Само соглашение вас ни к чему не обязывает.
            Без соглашения вы не сможете на складе купить необходимую вам продукцию с 
            <span class="main-color">максимальной скидкой</span>. </p>
    </div>
    <div class="text-block">
        <a class="button" href="https://nsp25.com/signup.php?sid=3551823">Оформить соглашение</a>
    </div>
</div>