aside{
    position: -webkit-sticky;
    position: sticky;
    top: calc(80px + 1em);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
    width: 300px;
    :not(:last-child){
        margin-bottom: 0.5em;
    }
}
a{  
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}