.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2em;
    font-size: 12px;
    :not(:last-child){
        margin-right: 1em ;
    }
    a{
        cursor: pointer;
        white-space: nowrap;
        padding: 0 2em;
    }
    a:hover{
        text-decoration: underline;
    }
}

@media only screen and (max-width: 1000px){
    .menu-list{
        display: none;
    }
}
